#main{
	width:  275px;
	background-color: black;
	height: 280px;
	position: relative;
	top: 100px;
	color: white;




}
#scr{
	width: 275px;
	height: 50px;
	background-color: black;
	position: relative;
	top: -5px;

}
#sa{

width: 50px;
height: 50px;
background-color: #212121;
border-radius: 50px;
border:none;
color: white;





}
#sa:hover{

cursor: pointer;
}
#sb{

width: 50px;
height: 50px;
background-color: #212121;
border-radius: 50px;
border:none;
color: white;





}
#sb:hover{

cursor: pointer;
}
#sc{

width: 50px;
height: 50px;
background-color: #212121;
border-radius: 50px;
border:none;
color: white;





}
#sc:hover{

cursor: pointer;
}
#sd{

width: 50px;
height: 50px;
background-color: #212121;
border-radius: 50px;
border:none;
color: white;





}
#sd:hover{

cursor: pointer;
}
#sf{

width: 50px;
height: 50px;
background-color: #212121;
border-radius: 50px;
border:none;
color: white;





}
#sf:hover{

cursor: pointer;
}
#sg{

width: 50px;
height: 50px;
background-color: #212121;
border-radius: 50px;
border:none;
color: white;





}
#se:hover{

cursor: pointer;
}
#se{

width: 50px;
height: 50px;
background-color: #212121;
border-radius: 50px;
border:none;
color: white;





}
#sg:hover{

cursor: pointer;
}
#sh{

width: 50px;
height: 50px;
background-color: #212121;
border-radius: 50px;
border:none;
color: white;





}
#sh:hover{

cursor: pointer;
}
#si{

width: 50px;
height: 50px;
background-color: #212121;
border-radius: 50px;
border:none;
color: white;





}
#si:hover{

cursor: pointer;
}
#so{

width: 50px;
height: 50px;
background-color: orange;
border-radius: 50px;
border:none;
color: white;





}
#so:hover{

cursor: pointer;
}


#zero{

width: 105px;
height: 50px;
background-color: #212121;
position: relative;
border:1px solid grey;
border-radius: 30px;
border:none;
color: white;



}

#sj{
	#se{

width: 50px;
height: 50px;
background-color: #212121;
border-radius: 50px;
border:none;
color: white;





}
#sj:hover{

cursor: pointer;
}

#sk{
	#se{

width: 50px;
height: 50px;
background-color: #212121;
border-radius: 50px;
border:none;
color: white;





}
#sk:hover{

cursor: pointer;
}

}












